<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>!Generic Account - Needs Changed to reflect individual account through Thymeleaf!</title>
</head>

<body>
    <h1>!Generic Account - Needs Changed to reflect individual account through Thymeleaf!</h1>

    <form th:action="@{/users/{userId}/accounts/{accountId}(accountId=${account.accountId}&userId=${user.userId})}"
        method="post">
        <div>
            Account Name: <input type="text" th:field="${account.accountname}" />
        </div>

        <div>
            <input type="submit" value="Save Account" />
        </div>
    </form>
</body>

</html>